html, body {
	max-width: 100%;
  overflow-x: hidden;
	scroll-behavior: smooth;
}
a:hover {
    cursor: default;
}
body {
	font-family: Arial;
	font-size: 20px;
	margin: 0px;
}
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #333;
	position: fixed;
  top: 0;
  width: 100%;
}
li {
  float: left;
}
li:first-child {
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 25px 20px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
#donthighlight {
	background-color: #333;
}
#moveright {
	float: right;
}
.backgroundcontainer {
	max-height: 100vh;
	height: -moz-available;          /* WebKit-based browsers will ignore this. */
	height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
	overflow: hidden;
}
.backgroundcontainer img{
	width: 100%;
	width: -moz-available;          /* WebKit-based browsers will ignore this. */
	width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
	overflow: hidden;
}
.About-Me {
	max-height: 100vh;
	height: -moz-available;          /* WebKit-based browsers will ignore this. */
	height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
	overflow: hidden;
}
.About-Me img{
	width: 100%;
	width: -moz-available;          /* WebKit-based browsers will ignore this. */
	width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
	overflow: hidden;
}
