a,
a:focus,
a:hover {
  color: #000;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #000;
  text-shadow: none;
  background-color: #fff;
  border: .05rem solid #fff;
}
html,
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #333;
  background-image: url("./imgs/original.jpg");
  background-size: cover;
}



body {
  display: -ms-flexbox;
  display: flex;
  color: white;
}

hr {
  background-color: white;
}

.container {
  max-width: 42rem;
  background-color: rgba(0,0,0,0.8);
}

.content {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
}

.blog-formatting {
  text-align: left;
}

.post-title, .post-subtitle {
  color: white;
}
.post-preview > a {
  color: #212529;
}

.post-preview > a:focus, .post-preview > a:hover {
  text-decoration: none;
  color: #0085A1;
}

.post-preview > a > .post-title {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.post-preview > a > .post-subtitle {
  font-weight: 300;
  margin: 0 0 10px;
}

.post-preview > .post-meta {
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
  color: #868e96;
}

.post-preview > .post-meta > a {
  text-decoration: none;
  color: white;
  pointer-events: none;
}

.post-preview > .post-meta > a:focus, .post-preview > .post-meta > a:hover {
  text-decoration: none;
  pointer-events: none;
}
